.card {
  width: 150px;
  height: 150px;
  border: 4px solid #3D5A6C;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  font-family: "Trebuchet MS", sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #32936F;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card:hover {
  border-color: #F03A47;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  color: #610F7F;
}

body {
  background-color: #F2C14E;
}