---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <div class="mt-8 ml-8">
    <h1 class="dark:text-LightGreen2 text-3xl text-Cerulean">Velkommen til min hjemmeside!</h1>
    <p class="dark:text-LightGreen2 text-Cerulean text-xl">
      Her deler jeg mine projekter, små spil og eksperimenter med webudvikling. Kig rundt og se hvad jeg har arbejdet på – måske finder du noget sjovt eller inspirerende!
    </p>
  </div>
</BaseLayout>
