---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="projekter">
  <div class="mt-8 ml-8">
    <h1 class="dark:text-LightGreen2 text-3xl text-Cerulean">projekter</h1>
    <p class="dark:text-LightGreen2 text-Cerulean text-xl">Her er nogle af mine projekter</p>  
    <div class="mt-8 ml-8">
    <a href="/Gamle side/index.html" class="bg-Keppel  hover:bg-Mindaro hover:text-LapisLazuli">Gamle Side</a>
    </div>
  </div>
  <style>
    a {
        padding: 0.5rem 1rem;
        text-decoration: none;
        border-radius: 0.25rem;
    }
</style>
</BaseLayout>
