---
import DarkmodeToggle from "./Darkmode-toggle.astro";
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin: 2rem;
        text-transform: uppercase;
    }
    div {
        display: flex;
        gap: 1rem;
    }
</style>

<footer class="flex justify-between">
    <div>
        <Social platform="github" username="os05h" />
        <Social platform="instagram" username="oskarhegner" />
    </div>
    <DarkmodeToggle class="" />
</footer>
