---

---

<div class="nav-links bg-LapisLazuli">
    <a href="/" class="bg-Keppel hover:bg-Mindaro hover:text-LapisLazuli"
        >Home</a
    >
</div>

<style>
    div {
        padding: 0.7rem 2rem;
        text-decoration: none;
    }
    a {
        padding: 0.5rem 1rem;

        text-decoration: none;
        border-radius: 0.25rem;
    }
</style>
